* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header {
    display: flex;
    min-width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
}


ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #ccc;
}

.logo {
    font-size: 24px;
    color: #f9fAf8;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9fAf8;
    background-color: #1f2937;
}